
<div class="panel panel-default col-md-7" style="padding-right:0px;padding-left:0px;">
    <div class="panel-heading">
        Panel heading
        <a [routerLink]="['/form']">
            <span class='fa fa-note'></span>View User Form
        </a>
    </div>
    <div class="panel-body">
        <form class="example-form">
            <md-input-container class="example-full-width">
                <input mdInput placeholder="Find User" [(ngModel)]="username" name="username" (ngModelChange)="userChanged($event)">
            </md-input-container>
            <md-input-container class="example-full-width">
                <input mdInput placeholder="Find User Form Control" type=text [value]="lookup" [formControl]="lookupControl">
            </md-input-container>
            
            <div class="alert alert-dismissible alert-success">
                Subject : {{foundname}}
            </div>
            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <md-input-container class="example-full-width">
                            <input mdInput placeholder="First name" [(ngModel)]="userModel.FirstName" name="FirstName">
                        </md-input-container>
                    </td>
                    <td>
                        <md-input-container class="example-full-width">
                            <input mdInput placeholder="Last Name" [(ngModel)]="userModel.LastName" name="LastName">
                        </md-input-container>
                    </td>
                </tr>
            </table>
            <p>
                <md-input-container class="example-full-width">
                    <textarea mdInput placeholder="Address" [(ngModel)]="userModel.Address" name="Address"></textarea>
                </md-input-container>
                <md-input-container class="example-full-width">
                    <textarea mdInput placeholder="Address 2" [(ngModel)]="userModel.Address2" name="Address2"></textarea>

                </md-input-container>
            </p>
            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <md-input-container class="example-full-width">
                            <input mdInput placeholder="City" [(ngModel)]="userModel.City" name="City">
                        </md-input-container>
                    </td>
                    <td>
                        <!--<md-input-container class="example-full-width">
                        <input mdInput placeholder="State">
                    </md-input-container>-->
                        <md-input-container>
                            <input mdInput placeholder="State" [mdAutocomplete]="auto" [formControl]="stateCtrl" [(ngModel)]="userModel.State" name="State">
                        </md-input-container>

                        <md-autocomplete #auto="mdAutocomplete" class="example-full-width">
                            <md-option *ngFor="let state of filteredStates | async" [value]="state">
                                {{ state }}
                            </md-option>
                        </md-autocomplete>
                    </td>
                    <td>
                        <md-input-container class="example-full-width">
                            <input mdInput #postalCode maxlength="5" placeholder="Postal Code" [(ngModel)]="userModel.ZipCode" name="ZipCode">
                            <md-hint align="end">{{postalCode.value.length}} / 5</md-hint>
                        </md-input-container>
                    </td>
                </tr>
            </table>
        </form>
        <div class="well">
            <md-input-container>
                <input mdInput [mdDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="userModel.Birthdate" name="Birthdate">
                <!--<span class='fa fa-calendar'></span>-->
                <button mdSuffix [mdDatepickerToggle]="picker"></button>
            </md-input-container>
            <md-datepicker #picker></md-datepicker>
        </div>
        <button type="submit" class="btn btn-primary" (click)="save()">Submit</button>

    </div>
    <div class="panel-footer">
        Panel footer
        {{userModel | json}}
    </div>
</div>
<div class="panel panel-default col-md-5" style="padding-right:0px;padding-left:0px;">
    <div class="panel-heading">Panel heading</div>
    <div class="panel-body">
        <form class="form-horizontal">
            <fieldset>
                <legend>Legend</legend>
                <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                    <div class="col-lg-10">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Checkbox
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="textArea" class="col-lg-2 control-label">Textarea</label>
                    <div class="col-lg-10">
                        <textarea class="form-control" rows="3" id="textArea"></textarea>
                        <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Radios</label>
                    <div class="col-lg-10">
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                                Option one is this
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                Option two can be something else
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="select" class="col-lg-2 control-label">Selects</label>
                    <div class="col-lg-10">
                        <select class="form-control" id="select">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                        <br>
                        <select multiple="" class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="reset" class="btn btn-default">Cancel</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>

    </div>
    <div class="panel-footer">Panel footer</div>
</div>